<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
    <h5>Remote SalesFuel</h5>
  </div>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>home</mat-icon> <span class="text-white">DASHBOARD</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/knowledge">
    <mat-icon>school</mat-icon><span class="text-white">KNOWLEDGE</span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/members">
    <mat-icon>people_outline</mat-icon> <span class="text-white">MEMBERS</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/teams">
    <mat-icon>group_work</mat-icon> <span class="text-white">TEAMS</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/vaults">
    <mat-icon>folder_open</mat-icon> <span class="text-white">VAULTS</span>
  </a><a mat-list-item routerLinkActive="list-item-active" routerLink="/chats">
    <mat-icon>chat</mat-icon> <span class="text-white">CHATS</span>
  </a>

  <div class="footer">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
      <mat-icon>settings</mat-icon> <span class="text-white">SETTINGS</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/company">
      <mat-icon>dashboard</mat-icon> <span class="text-white">COMPANY</span>
    </a><a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
      <mat-icon>account_circle</mat-icon> <span class="text-white">MY PROFILE</span>
    </a>
    <mat-divider></mat-divider>
    <p class="text-center mt-2">Powered by @TeamJenyus</p>
  </div>
</mat-nav-list>
