:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: #ffffff;
  }
  .mat-list-item{
  
      color: #ffffff;
    
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
  width: 250px;
} 
.mat-list-item {
  
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #959aa5 !important;
      }
    }
  }
}
.list-item-active {
  ::ng-deep {
    .mat-list-item-content {
      background: #333333 !important;
      &:hover {
        background: #333333 !important;
      }
    }
  }
  
}

.footer{
  bottom:0;
  width: 250px;
  position: fixed;
}



