<div class="container-fluid px-4 py-4">
  <a class="mx-4" href="/knowledge">ALL</a>
  <a href="/knowledge">LIVE</a>
  <a class="mx-4" href="/knowledge">Draft </a>
  <a href="/knowledge">ARCHIVED</a>
</div>
<div class="container p-1">
  <mat-grid-list cols="4" rowHeight="440px">
    <mat-grid-tile *ngFor="let item of data">
      <mat-card>
        <img
          mat-card-image
          src="{{ item.productUrl }}"
          alt="Photo of a Shiba Inu"
        />
        <div class="status-tag">
          <span class="{{ item.status }}-in ">●</span>
          <span>{{ item.status }}</span>
        </div>
        <mat-card-content>
          <h6 class="mt-2">{{ item.productName }}</h6>
          <p>Last updated : {{ item.lastUpdated }}</p>
          <p>Lessions: {{ item.lessions }} Minutes: {{ item.minutes }}</p>
          <div class="row">
            <div class="col-5 text-center" *ngFor="let categ of item.category">
              <p class="category-tag">{{ categ }}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
